/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

/* Variables */

:root {
  --Color-Black: #030303;
  --Color-Medium-Brown: #7a746e;
  --Color-Galactic-Blue: #755cde;
  --Color-Summer-Yellow: #f6a560;
  --Color-Pink: #f39e9e;
  --Color-Light-Red: #eb7565;
  --Color-Cyan: #61c4b7;
  --Color-Dark-Purple: #552049;
  --Color-Light-Cream: #fff7f0;
  --Font-Family-Primary: "Plus Jakarta Sans", sans-serif;
  --Font-Size-Mobile: 1.4rem;
  --Font-Size-Tablet: 1.6rem;
  --Font-Size-Desktop: 1.8rem;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Font-Family-Primary);
  background-color: var(--Color-Light-Cream);
}

/* Buttons */

.btn {
  color: var(--Color-Light-Cream);
  font-size: var(--Font-Size-Mobile);
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8rem;
  border-radius: 28px;
  padding: 0.8rem 2.8rem;
}

.btn--black {
  background-color: var(--Color-Black);
}

.btn--black:hover {
  background-color: var(--Color-Galactic-Blue);
}

/* Header */

header {
  margin-bottom: 3.2rem;
  padding: 1.6rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  width: 4.8rem;
  height: 4.8rem;
}

/* Media Query 768px */

@media (min-width: 768px) {
  header {
    margin-bottom: 6.4rem;
    padding: 3.4rem 4rem;
  }

  .navbar__logo {
    width: 6.4rem;
    height: 6.4rem;
  }

  .btn {
    font-size: var(--Font-Size-Tablet);
  }
}

/* Media Query 1440px */

@media (min-width: 1440px) {
  header {
    margin-bottom: 6.6rem;
    padding: 3.4rem 16.5rem;
  }

  .btn {
    font-size: var(--Font-Size-Tablet);
  }
}
