.btn {
  color: $Color-Light-Cream;
  font-size: Font-Size-Mobile;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8rem;
  border-radius: 28px;
  padding: 0.8rem 2.8rem;
  display: inline-block;
}

.btn--black {
  background-color: $Color-Black;
}

.btn--black:hover {
  background-color: $Color-Galactic-Blue;
}

.btn--orange {
  background-color: $Color-Light-Red;
}

.btn--orange:hover {
  background-color: $Color-Summer-Yellow;
}
