html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $Font-Family-Primary;
  background-color: $Color-Light-Cream;
  padding: 1.6rem;

  @include responsive-tablet {
    padding: 3.4rem 4rem;
  }

  @include responsive-desktop {
    padding: 3.4rem 16.5rem;
  }
}
