#section-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 10rem;
  gap: 2.4rem;
}

.skill-pattern {
  width: 100%;
  padding: 2.4rem;
}

.skill-pattern--1 {
  background-color: $Color-Galactic-Blue;
  grid-column: 1 / -1;
}

.skill-pattern--2 {
  background-color: $Color-Summer-Yellow;
  grid-column: 1 / 2;
}

.skill-pattern--3 {
  background-color: $Color-Pink;
  grid-column: 2 / -1;
}

.skill-pattern--4 {
  background-color: $Color-Light-Red;
  grid-column: 1 / -1;
}

.skill-pattern--5 {
  background-color: $Color-Cyan;
  grid-column: 1 / -1;
}

.skill-pattern--6 {
  background-color: $Color-Dark-Purple;
  grid-column: 1 / -1;
}

.skill-pattern--1 .skill-pattern-img {
  margin-bottom: 9.4rem;
}

.skill-pattern-img {
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-end;
}

.skill-pattern-heading {
  display: flex;
  justify-content: flex-start;
}

.skill-pattern-heading .heading-3 {
  color: $Color-Light-Cream;
}
